html, body
{
	background-color: #F7F7F7;
}

.space-below
{
	margin-bottom: 10px;
}

.side-nav
{
	padding: 0 !important;
	background-color: #FFFFFF;
	border-left: 1px #E7E7E7 solid;
	border-right: 1px #E7E7E7 solid;
	border-bottom: 1px #E7E7E7 solid;
}

article
{
	padding: 10px 15px 10px 15px;

	margin: 10px;
	background-color: #FFFFFF;
	border: 1px #E7E7E7 solid;
}

article h2
{
	border-bottom: 1px #E7E7E7 solid;
}

.full
{
	height: 100%;
}